@let _objectWeatherInfo = objectWeatherInfo();
@let _currentWeatherInfo = currentWeatherInfo();

<section class="content-wrapper">
  <h1 class="page-title">Объекты</h1>

  <section class="content">
    <div class="objects-list">
      @for (item of _objectWeatherInfo; track item.objectId) {
        <app-weather-card (additionalInfo)="onCardAdditionalInfo($event)" [weatherInfo]="item"/>
      }
    </div>
  </section>
</section>

@if (_currentWeatherInfo) {
  <div class="quick-statistic-wrapper">
    <app-quick-object-info (close)="onCloseQuickInfo()" [weatherInfo]="_currentWeatherInfo"/>
  </div>
}

