@let _objectWeatherInfo = objectWeatherInfo();
@let _currentWeatherInfo = currentWeatherInfo();
@let _displayEmptyState = displayEmptyState();

<section class="content-wrapper">
  @if (!_displayEmptyState) {
    <h1 class="page-title">Объекты</h1>

    <section class="content">
      <div class="objects-list">
        @for (item of _objectWeatherInfo; track item.objectId) {
          <app-weather-card (additionalInfo)="onCardAdditionalInfo($event)" (delete)="onDeleteObject($event)"
                            [hideDetails]="weatherLoadFailed()" [weatherInfo]="item"/>
        }
      </div>
    </section>
  } @else {
    <div class="empty-state">
      <p class="empty-state__text">Список пуст. Добавьте <b>объект</b> на <a class="empty-state__link"
                                                                             routerLink="/map">карте</a></p>
    </div>
  }
</section>

@if (loading()) {
  <div class="loader-overlay">
    <mat-spinner diameter="48"/>
  </div>
}

@if (_currentWeatherInfo) {
  <div class="quick-statistic-wrapper">
    <app-quick-object-info (close)="onCloseQuickInfo()" [weatherInfo]="_currentWeatherInfo"/>
  </div>
}

