:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;

  &.dark-theme {
    background: #292929;
  }

  &.light-theme {
    background: #faf9fd;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    &-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 40px 24px;
    }
  }

  .page-title {
    margin-bottom: 40px;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .objects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    flex-grow: 1;
    height: max-content;

    &__item {
      padding: 24px;
      background: #000;
    }
  }

  .quick-statistic-wrapper {
    height: 100%;
    background: #141722;
    z-index: 2;
    padding: 20px 16px;
    border-left: 1px solid #2a2a3a;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
