<h2 mat-dialog-title>{{ data.name }}</h2>

<mat-dialog-content>
  <div class="properties">
    <div class="properties-item">
      <span class="properties-label">Долгота</span>
      <span class="properties-value">{{ data.center[0] }}</span>
    </div>
    <div class="properties-item">
      <span class="properties-label">Широта</span>
      <span class="properties-value">{{ data.center[1] }}</span>
    </div>
    <div class="properties-item">
      <span class="properties-label">Цвет</span>
      <div [style.background-color]="data.style!.fill" class="color-swatch"></div>
    </div>
  </div>

  <div class="parameters-title" style="margin-top: 20px;">Параметры погоды</div>
  <div class="sections">
    @for (section of sections; track section.name) {
      <mat-expansion-panel (closed)="section.toggle()" (opened)="section.toggle()">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ section.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #shoes>
          @for (row of section.list; track row.key) {
            <mat-list-option [(selected)]="row.selected">{{ row.title }}</mat-list-option>
          }
        </mat-selection-list>
      </mat-expansion-panel>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="save()" class="button-primary" mat-flat-button>Сохранить</button>
  <button class="button-warn" mat-dialog-close mat-flat-button>Отмена</button>
</mat-dialog-actions>
