:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #363434;
  box-shadow: 0px 0px 8px 1px #000;
  margin: 4px;
}
