@let _mapSize = mapSize();
@let _weatherInfo = weatherInfo();
@let _selectedDrawingMode = selectedDrawingMode();

<div class="map-container" #mapContainer [style.width.px]="_mapSize.width" [style.height.px]="_mapSize.height"></div>

<div class="tools tools-top">
  <button (click)="startDrawLine()" [class.tools-button--active]="_selectedDrawingMode === DrawingMode.LINE"
          class="tools-button"
          matIconButton>
    <mat-icon>draw</mat-icon>
  </button>
  <button (click)="openPolygonsList()" class="tools-button" matIconButton>
    <mat-icon>format_list_bulleted</mat-icon>
  </button>
</div>

<div class="tools tools-bottom search-control">
  <app-search (optionSelected)="onCitySelected($event)"/>
</div>

@if (_weatherInfo) {
  <div class="weather-card-container">
    <app-map-weather-card [weatherInfo]="_weatherInfo"/>
  </div>
}
