@use "sass:map";

@mixin map-light-theme {
  --map-button-icon-background: #ffffff;
  --map-button-icon-border: 1px solid #dde0ea;
  --map-icon-color: #5a6aee;
  --map-weather-card-background: #ffffff;
}

@mixin map-dark-theme {
  --map-button-icon-background: #141722;
  --map-button-icon-border: 1px solid #2a2a3a;
  --map-icon-color: #6a7aff;
  --map-weather-card-background: #141722;
}
