@use '@angular/material' as mat;

:host {
  flex: 1 1 auto;

  .example-container {
    height: 100%;
  }

  .example-sidenav-content {
    height: 100%;
  }

  .example-sidenav {
    border-radius: 0;

  }
}
